---
import Basic from "../layouts/basic.astro"
---

<Basic>
	  <h1>Welcome to Astro!</h1>
  <p>Get started by editing this file.</p>
  <p>To learn more, check out the <a href="https://astro.build">Astro documentation</a>.</p>
</Basic>
